DirectoryIndex index.php
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
SetEnv COMPTE_EUROPE_API_KEY "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef